RewriteEngine on

# If the request is not for a valid directory
RewriteCond %{REQUEST_FILENAME} !-d
# If the request is not for a valid file
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(admin|contact|articles|cron|register|login|download|projects|static|tickets|dashboard|spintext)\/?([a-zA-Z]{1,25})?\/?([a-zA-Z0-9\-_+]{1,40})?\/? system/public/$1.php?q=$2&id=$3 [QSA] [NC] [L]

# If the request is not for a valid directory
RewriteCond %{REQUEST_FILENAME} !-d
# If the request is not for a valid file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z]+) system/public/static.php?q=page&id=$1 [QSA]

<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType image/x-icon A2592000
 ExpiresByType application/x-javascript A604800
 ExpiresByType text/css A604800
 ExpiresByType image/gif A2592000
 ExpiresByType image/png A2592000
 ExpiresByType image/jpeg A2592000
</IfModule>